extends layout

block content
  div.container
    div(class="col-sm-6 col-sm-offset-3")

      h1
        span(class="fa fa-sign-in")
        |
        | #{title}

      if message.length > 0
        div(class="alert alert-danger")= message

      // Login form
      form(action="/signup", method="post")
        div(class="form-group")
          label Email
          input(type="text", class="form-control", name="email")

        div(class="form-group")
          label Password
          input(type="password", class="form-control", name="password")

        button(type="submit", class="btn btn-warning btn-lg") Signup

      hr

      p Already have an account?
        |
        |
        a(href="/login") Login
      p Or go
        |
        |
        a(href="/") home
        | .
